

body {
background-color:green}
p {font-family: 'Times New Roman', Times, serif; font-size: 25;}

img {border-style: dashed; 
    border-color: black; 
    border-radius: 1cm;
border-color: crimson;}



